.form-block
	h5 Форма обратной связи
	form.form.js-form(action='#')
		.form-row
			.form-col
				label.form-field
					input.js-input.form-field__input(type='text', name="name", data-msg="" required)
					span.form-field__label Ваше имя
					span.form-field__icon
			.form-col
				label.form-field
					input.js-input.js-input-mask.form-field__input(type='tel', name="tel", data-mask="+7(999)999-99-99" data-msg="" required)
					span.form-field__label Ваш телефон
					span.form-field__icon
			.form-col
				label.form-field
					input.js-input.js-input-mask.form-field__input(type='email', name="email", data-mask="konstantinipolev@yan" data-msg="" required)
					span.form-field__label Email
					span.form-field__icon
				
			.form-line
				label.form-field.form-field-textarea
					textarea.js-input.form-field__input.form-field__textarea(name="message" data-msg="" required)
					span.form-field__label.form-field__label--top Ваше сообщение
					span.form-field__icon

		.form-bottom
			label.form-checkbox
				input.form-checkbox__input.js-agree(type='checkbox')
				span.form-checkbox__checkmark
				a.form-checkbox__text.link__text(href="#" target="_blank")
					p  Ознакомлен с политикой и выражаю согласие на 
						span  Обработку 
						|	 моих персональных данных.
					p  Ознакомлен с 
						span  Правилами 
						| 	бронирования и
						span  Правилами
						|  нахождении на территории 
			button.submit.btn.btn--blue.btn-small(type="submit" disabled='disabled') Отправить