footer.footer
    .footer__inner
        .row
            .col
                .d-block
                    p 
                        b Размещение
                    p Бумеранг 
                    p Коттеджи
                    p FOX-INN
                    p Лоджи Highlands
                .d-block
                    p
                        b Рестораны
                    p RED DEER
                    p СПА-Кафе
                    p Барбекю
            .col
                .d-block
                    p 
                        b Стрельба 
                    p Стрельба по тарелочкам
                    p Пулевая стрельба
                    p Оружейная мастерская
                .d-block
                    p 
                        b Foxland SPA
                    p Услуги SPA
                    p  Контакты
            .col
                .d-block
                    p 
                        b Развлечения
                    p Спортивные площадки
                    p Фитнес
                    p Ледовая Арена
                    p Прокат инвентаря
                    p Спортивные маршруты
                    p Рыбалка
                    p Детские площадки
                    p Гольф-симулятор
                    p Виртуальный тир
                    p Бильярд
                    p Боулинг
                    p Караоке
            .col 
                .d-block
                    p 
                        b Мероприятия
                    p Корпоративные мероприятия
                    p Частные мероприятия
                    p Для Event-агентств
                    p Календарь мероприятий
            .col 
                .contacts
                    .copywright © 2020 ООО «Лисья нора» ОГРН 1155007000037
                    .email__block
                        p Email
                        hr
                        small Подписаться на новости
                    p Правила комплекса
                    p Тарифы услуг
                    p Контакты
                    h5 +7 (495) 120−92−29	
                    .social
                        .item
                            .eye-icon.icon-bg__circle
                                +svg('camera')
                        .item
                            .facebook-icon.icon-bg__circle
                                +svg('facebook')
                        .item
                            .eye-icon.icon-bg__circle
                                +svg('eye')
            


