extends pug/base

append vars
	- title = 'Главная'
block content
	.wrapper
		.container
			.row
				.col
					.breadcrumbs
						ul.breadcrumbs__list
							li
								a.breadcrumbs__link Главная
							li
								a.breadcrumbs__link События
							li
								a.breadcrumbs__link Open Day. Развитие бизнеса
		
				.col
					h1 Live chat support live chat implementation and best practices
					.main__img
					h6 Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. 
					h2
						| 	Live chat is a powerful tool, 
						span but only
						| 	when it’s used
					h6 This feeling of trust only increases if 	 |	 you use 
						a(href="").link live chat as part 
						|	of a full customer 
						a(href="").link 	support experience.
						|  If  you’re checking in with customers via email, keeping your phone lines open and taking calls, and being present on social media, you’re showing them.
					h3 4 best practices for a successful live chat support 4 best practices for a successful live chat support experience
					h6 Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. 
			
			.block
				.row
					.col
						.block__cart
							img(src="./images/block1/01.png" alt="")
							h5 Фитнес
							p Гостям «Лисьей норы» мы предлагаем посетить наш фитнес-клуб, в котором можно с максимальной пользой и удовольствием провести время. К вашим услугам – современная кардиозона, тренажёры, зал аэробики и финская сауна.
					.col
						.block__cart
							img(src="./images/block1/02.png" alt="")
							h5 Прогулочные маршруты
							p Красочные пешие маршруты, прокат велосипедов, зимой – специальная лыжная трасса.
					.col
						.block__cart
							img(src="./images/block1/03.png" alt="")
							h5 Прокат инвентаря
							p Велосипеды, коньки и лыжи, рыболовные снасти, снаряжения для стрельбы и прогулки на лодке – можно не только привезти с собой, но и взять на прокат на ресепшене в Лисьей норе		
					
			.block.block2
				.row
					.col
						.block__cart
							img(src="./images/block1/04.png", alt="")
							.block__content
								h5 Рыбалка
								p Проживающие гости и обладатели Foxcard могут круглый год наслаждаться рыбалкой.
					.col
						.block__cart
							img(src="./images/block1/05.png", alt="")
							.block__content
								h5 Детские площадки
								p «Лисья нора» это замечательное место для семейного досуга. У нас созданы максимально комфортные условия для тех, кто приезжает на отдых с детьми.
				include pug/particles/form-example
			.ideas
				.row
					.col
						h4 H4. Идейные соображения высшего порядка
						h6 With live chat software, you can measure website traffic data or draw from what you already know about your products to decide where your support is most useful. A few ideas:
						ul
							li If most of your website traffic is to a specific support page, add live chat there
							li If you have a physical product that’s frequently returned, you can start a visitor auto message on the return page with a link to your FAQs
							li If you have a software product, and customers frequently need help during setup, trigger an auto message in your Messenger during this process
						h6 This support can go far beyond simply answering questions before they sign up or make a purchase – it can strengthen and lengthen your relationship with each customer.
			.links
				.row
					.col
						a(href="").link.link__wrap
							+svg('rule').link__icon-rule
							span Правила безопасности при стендовой стрельбе
					.col
						a(href="").link 
							+svg().link__icon-rule 
							span Правила безопасности в тире
			.row
				.col
					h5 Customers are more likely to buy
					ol
						li Including an estimated wait time for a response, based on the first time to response 
						li Letting them know they can receive an email when you come online
					p 
						b Идейные соображения высшего порядка
					h6 Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника.
			.links
				.row
					.col
						a(href="").link.link__wrap
							+svg('rule').link__icon-rule
							span Лицензия на предоставление гостиничных услуг
					.col
						a(href="").link 
							+svg('rule').link__icon-rule 
							span Лицензия на предоставление услуг стендовой стрельбы
			h6 Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника. 
			.slider
			h3 4 best practices for a successful live chat support experience 4 best practices for a successful live chat support experience
			h6 This feeling of trust only increases if you use live chat as part of a full customer support experience. If you’re checking in with customers via email, keeping your phone lines open and taking calls, and being present on social media, you’re showing them.
			.table-wrap
				table
					tr
						th Категория номеров
						th Будние дни
							span с 14:00 вс до 12:00 пт
						th Выходные и праздники
							span с 14:00 пт до 12:00 вс
						th При заказе на все выходные дни
							span пт., сб., вс. – выезд вечером в воскресенье до 00:00
					tr
						td Коттеджи №№ 1,2,3,4 «Стандарт» (1 категория)
						td 13 700 руб./сутки
						td 16 800 руб./сутки
						td 40 450 руб. (две ночи)
					tr
						td Коттедж №6 «Комфорт»; Коттедж №5 «Бизнес» (1 категория)
						td 16 800 руб./сутки
						td 20 000 руб./сутки
						td 48 400 руб. (две ночи)
					tr 
						td Дополнительное место
						td включена в цену номера
						td
						td
					tr 
						td включена в цену номера
						td 1 600 руб. место/сутки
						td
						td

						
			h6 Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника. 
		
						



							
						
			




